.form-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 30%;
    top: 5em;
    width: fit-content;
    height: fit-content;
    background-color: rgb(202, 202, 202);
    border: 1px solid gray;
}

.close {
    display: block;
    float: right;
    width: 1.3em;
    text-align: center;
    background-color: gray;
    border: 1px solid rgb(63, 63, 63);
}

.close:hover {
    cursor: pointer;
}

.header {
    background-color: green;
    color: rgb(226, 226, 226);
    
}

.header h1 {
    margin: 0;
    padding: 0em 0em 0.2em 0.2em;
    display: inline-block
}

input {
    display: block;
    width: 100%;
    margin: 0.1em 0 0.5em 0;
    padding: 0;
}

label {
    display: inline;
}

.columns-container {
    display: flex;
    flex-direction: row;
    justify-content: start;

}

.column {
    padding: 1em;
    display: inline-block;
    padding-bottom: 0;
    
}

.checkbox-container {
    display: flex;
}

.checkbox-container input {
    width: auto;
    margin-right: 0.5em;
    display: inline-block;
}

.obs-container {
    padding: 0em 1em 0em 1em;
}

.obs-container input {
    height: 8em;
}

.button-container {
    display: flex;
    float: right;
    padding-bottom: 1em;
}

.button-container .button {
    margin-right: 1em;
}