.button {
    display: inline-block;
    padding: 0.5em;
    margin-right: 2em;
    font-weight: 400;
    font-size: 0.9em;
    color: #eeeeee;
    border: 1px solid #b5b5b5
}

.button:hover {
    cursor: pointer;
}

.green {
    background-color: green;
}

.green:hover {
    background-color: #32a646;
}

.red {
    background-color: darkred;
}

.red:hover {
    background-color: #cc0000;
}


.addform {
    display: none;
    position: absolute;
    height: 10em;
    width: 10em;
    background-color: white;
}

