.shadow {box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}

body {
  margin: 0;
  font-family: "Segoe UI",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	position: relative; 
	min-height: 100%; 
	top: 0px;
	margin: 0px 0px 0px 0px;
	background-color: #e8e8e8;
}

h1 {
	margin: 10px 0px 10px 0px;
}

.main-div {
	padding: 20px 20px 20px 25px;
	margin: 0;
	width: 96%;
	min-height: 450px;
	display: flex;
}